@import url("https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@200&display=swap");

* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    padding: 0;
}
html{
    padding: 0;
    width: 100%;
    height: 100%;
    margin:0;
    overflow-x: 0;
    }
.hero{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.4)),url(background.jpg);
    background-position: center;
    background-size: cover;
    position: aboslute;
}
.form-box{
    height: 480px;
    width: 380px;
    position: relative;
    margin: 0% auto;
    background: #ffffff;
    padding: 5px;
    overflow: hidden;
}
.button-box{
    width: 220px;
    margin: 35px auto;
    position: relative;
    background: linear-gradient(to left, white, gray);
    box-shadow: 0 0 20px 9px #4fe2ff9b;
    border-radius: 30px;
}
.toggle{
    padding: 10px 30px;
    background: transparent;
    border:0;
    cursor: pointer;
    outline: none;
    position: relative;
}
.inputs{
    position: absolute;
    top: 120px;
    padding: 50px;
    width: 280px;
    transition: .5s;
}
.user{
    width: 100%;
    padding: 10px 0px;
    margin: 5px 0px;
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 1px solid #999;
    background: transparent;
    outline: none;
}
.log{
    width: 65%;
    padding: 5px 18px;
    cursor: pointer;
    display: block;
    margin: 10% 17%;
    background:rgb(120, 125, 125);
    border-radius: 30px; 
    border: transparent;
}
.hide{
    display:block;
}
.text{
    position: relative;
    font-size: 850%;
    position: absolute; 
    top:20%;
    left: 33%;
    transform:(10%,10%);
    color: white;;
}
.text2{
    font-size: 300%;
    position: absolute; 
    top:38%;
    left: 44%;
    transform:(10%,10%);
    color: white;   
}

.clicker1{
    height: 220 px;
    width: 13%;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 51.8%;
    transition: ease-out .3s;
    margin: 35px auto;
    box-shadow: inset 0 0 0 0 black;
    background: linear-gradient(to left, white, gray);
    border-radius: 20px;
}
.clicker3{
    height: 220 px;
    width: 13%;
    padding: 10px;
    position: absolute;
    top: 60%;
    left: 43.5%;
    margin: 35px auto;
    transition: ease-out .3s;
    box-shadow: inset 0 0 0 0 black;
    background: linear-gradient(to left, white, gray);
    border-radius: 20px;
}
.clicker2{
    height: 220 px;
    width: 13%;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 35%;
    margin: 35px auto;
    box-shadow: inset 0 0 0 0 black;
    transition: ease-out .3s;
    background: linear-gradient(to left, white, gray);
    border-radius: 20px;
}
.clicker{
    cursor:pointer;
    justify-content: space-evenly;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
}
.clicker2:hover{
    box-shadow: inset 300px 0 0 0 grey;
    cursor: pointer;
    color: white;
}
.clicker1:hover{
    box-shadow: inset 300px 0 0 0 grey;
    cursor: pointer;
    color: white;
}
.clicker3:hover{
    box-shadow: inset 300px 0 0 0 grey;
    cursor: pointer;
    color: white;
}

.box{
    height: 100%;
    width: 100%;
    position: absolute; 
    transform:(10%,10%);
    margin: auto;
    background: #000000;
    padding: 5 px;
    overflow: hidden;
    opacity: .9;
}

#register{
 left:450px;
}




